<!doctype html>
<html>

<head>
    <meta charset="utf-8"> {% include purecss.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bingo.css">
    <title>{{ site.title }} - {{ page.title }}</title>
</head>

<body>
    {% include navbar.html %}

    <div class="content-wrapper">
        <div class="content">
            <div class="pure-g">
                <div class="pure-u-md-1-6"></div>
                <div class="l-box pure-u-1 pure-u-md-2-3">
                    {{ content }}
                </div>
                <div class="pure-u-md-1-6"></div>

                <div class="is-center pure-u-1">
                    <a onclick="reroll()" class="pure-button">Shuffle</a>
                </div>
                
                <div class="pure-u-1"><br></div>
                
                <div class="pure-u-md-7-24 pure-u-sm-1-12"></div>
                <div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div><div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div><div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div><div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div><div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div>
                <div class="pure-u-md-7-24 pure-u-sm-1-12"></div>

                <div class="pure-u-md-7-24 pure-u-sm-1-12"></div>
                <div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div><div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div><div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div><div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div><div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div>
                <div class="pure-u-md-7-24 pure-u-sm-1-12"></div>

                <div class="pure-u-md-7-24 pure-u-sm-1-12"></div>
                <div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div><div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div><div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div><div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div><div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div>
                <div class="pure-u-md-7-24 pure-u-sm-1-12"></div>

                <div class="pure-u-md-7-24 pure-u-sm-1-12"></div>
                <div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div><div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div><div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div><div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div><div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div>
                <div class="pure-u-md-7-24 pure-u-sm-1-12"></div>

                <div class="pure-u-md-7-24 pure-u-sm-1-12"></div>
                <div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div><div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div><div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div><div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div><div class="square pure-u-1-5 pure-u-md-1-12 pure-u-sm-1-6"></div>
                <div class="pure-u-md-7-24 pure-u-sm-1-12"></div>


            </div>
        </div>
    </div>

    {% include footer.html %}

    <script>
        // Declare variables
        var squares = [];
        var shufstr = [];
        const charoff = 65;
        const freesq = "{{ page.freesq }}";
        var i = charoff;
        const urlParams = new URLSearchParams(window.location.search);
        const seed = urlParams.get('seed');
        var bingosheet = document.getElementsByClassName("square");

        // Declare functions
        function shuffle(array) {
            var currentIndex = array.length,
                randomIndex;

            // While there remain elements to shuffle...
            while (0 !== currentIndex) {

                // Pick a remaining element...
                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex--;

                // And swap it with the current element.
                [array[currentIndex], array[randomIndex]] = [
                    array[randomIndex], array[currentIndex]
                ];
            }

            return array;
        }

        function newSeed(array) {
            shuffle(array);
            var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?seed=' + array.join('');
            window.history.pushState({
                path: newurl
            }, '', newurl);
        }

        function fillInSheet() {
            for (i = 0; i < bingosheet.length; i++) {
                if (i < 12) {
                    bingosheet[i].textContent = squares[shufstr[i].charCodeAt(0) - charoff];
                } else if (i > 12) {
                    bingosheet[i].textContent = squares[shufstr[i-1].charCodeAt(0) - charoff];
                } else {
                    bingosheet[i].textContent = freesq;
                }
            }
        }

        function reroll() {
            newSeed(shufstr);
            fillInSheet();
        }

        // Get YAML variables
        {% for square in page.squares %}
        squares.push("{{ square }}");
        shufstr.push(String.fromCharCode(i));
        i++;
		{% endfor %}

        if ((seed == null) || (seed.length < squares.length)) {
            newSeed(shufstr)
        } else {
            shufstr = Array.from(seed);
        }

        fillInSheet();
    </script>
</body>

</html>