.square {
    border: 1px solid $bingoline;
    padding: 0.5em;
    text-align: center;
    vertical-align: middle;
    color: $txcol;
    word-wrap: break-word;
}

.sqt {
    border-top: 2px solid $bingoline;
}

.sql {
    border-left: 2px solid $bingoline;
}

.sqb {
    border-bottom: 2px solid $bingoline;
}

.sqr {
    border-right: 2px solid $bingoline;
}

@media (max-width: 35em) {
    /* We increase the header font size even more */
    .square {
        font-size: 0.7em;
        padding: 0.2em;
    }
}

@media print {
    body {
        background-color: #FFFFFF;
        background-image: none;
        color: #000000
    }
    a {
        color: #888888;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    label {
        color: #000000;
    }
    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a,
    label a {
        color: #000000;
    }
    .header {
        display: none;
    }
    .pure-button {
        display: none;
    }
    .footer {
        display: none;
    }
    .square {
        color: #000000;
        border: 1px solid #000000;
    }
    .sqt {
        border-top: 2px solid #000000;
    }
    .sql {
        border-left: 2px solid #000000;
    }
    .sqb {
        border-bottom: 2px solid #000000;
    }
    .sqr {
        border-right: 2px solid #000000;
    }
}